.container-filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    padding: 0px;
    margin: 0px;
   
    .card-filters{
        //flex-basis: 20%;
    }

   
   
}
